.container{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(images/background.png) ;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.menu-icon {
    width:30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex : 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}
nav ul li a{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color:#fff;
    font-size: 100px;
}
p{
    color: #fff;
    line-height: 15px;
    font-size: 11px;
}
button{
    margin-top: 30px;
    color: black;
    font-size: 12px;
    padding:12px 0;
    background: #fff;
    border:0;
    width:180px;
    border-radius: 20px;
    outline: none;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    background-image: url(images/pic-1.png);
    border-radius:10px ;
    margin: 10px 15px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/pic-1.png);
}
.card2{
    background-image: url(images/pic-2.png);
}
.card3{
    background-image: url(images/pic-3.png)
}
.card4{
    background-image: url(images/pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
}